*{ /* * : all 의미*/
    box-sizing: border-box;
}

.container{
    width:450px;
    margin: 0 auto;
    border : 1px solid #ccc;
    border-radius: 2%; /*모서리 둥근 정도*/
    box-shadow: 2px 2px 5px #333;
}

.day1{
    padding-top:20px;
    text-align: center;
}

.day h3 {
    font-size: 1.2em;
    color:#666;
}

.accent {
    margin-left:12px;
    margin:10px;
}

.bar{
    width: 100%;
    height:40px;
    margin: 60px auto 0 auto;
    background:#666;
    padding-left: 15px;
    font-size: 1.2em;
    color: white;
    line-height:40px;
}
